
@import url(../lead/__caption/lead__caption.css);
@import url(../lead/__content/lead__content.css);
@import url(../lead/__image/lead__image.css);
@import url(../lead/__subtitle/lead__subtitle.css);
@import url(../lead/__title/lead__title.css);

.lead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead {
    width: 100%;
  } 
}


