@import url(../header/__logo/header__logo.css);
@import url(../header/__language/header__language.css);
@import url(../header/__language/_active/header__language_active.css);
@import url(../header/__language-content/header__language-content.css);


.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  padding-top: 28px;
  margin-right: 48px;
  margin-left: 48px;
  }

@media screen and (max-width: 1279px) {
  .header {
    margin-right: 0;
    margin-left: 0;
  }
}


@media screen and (max-width: 1023px) {
  .header {
    margin-right: 24px;
    margin-left: 24px;
  }
}


@media screen and (max-width: 767px) {
  .header{
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 16px;
  }   
}