@import url(../header/__logo/header__logo.css);
@import url(../header/__language/header__language.css);
@import url(../header/__language/_active/header__language_active.css);
@import url(../header/__language-content/header__language-content.css);


.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: center;
  padding-top: 28px;
  max-width: 1184px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .header{
    width: calc(100% - 32px);
    padding-top: 16px;
  }   
}