@import url(../intro/__list-item/intro__list-item.css);
@import url(../intro/__list-number/intro__list-number.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);

.intro{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 984px;
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    min-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .intro{
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro{
    margin-top: 64px;
    margin-bottom: 64px;
  }
}