@import url(../cover/__link/cover__link.css);
@import url(../cover/__title/cover__title.css);
@import url(../cover/__subtitle/cover__subtitle.css);

.cover {
  margin-top: 12px;
  margin-bottom: 92px;
  min-width: 1184px;
}

@media screen and (max-width: 1279px) {
.cover {
 min-width: 100vw;
}

@media screen and (max-width: 1023px) {
  .cover{
    margin-bottom: 88px;
    min-width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  .cover{
    margin-top: 16px;
    margin-bottom: 64px;
    ma
  }
}